@use "../config/config" as *;

body{
  opacity: 0;
}

body.loaded{
  opacity: 1;
  transition: opacity map-get($transition, duration) map-get($transition, timing);
}

.lazyload,
.lazyloading {
  opacity: 0;
  visibility: hidden;
}
.lazyloaded {
  opacity: 1;
  visibility: visible;
  transition: opacity map-get($transition, duration) map-get($transition, timing);
}