@use "../partials/functions" as *;


/* —————————————————————————————————————————————————————————————
        RESET
———————————————————————————————————————————————————————————————— */

*::-webkit-scrollbar{
  display: none;
}

*{
  scrollbar-width: 0px;
}


/* —————————————————————————————————————————————————————————————
        MAIN LAYOUT
———————————————————————————————————————————————————————————————— */
:root{
  font-size: 16px;
}
html, body{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  padding: 0 1em;
  overflow-y: scroll;
  padding-top: 0.8em;
}


/* —————————————————————————————————————————————————————————————
        TYPOGRAPHY
———————————————————————————————————————————————————————————————— */

.txt-center{
  text-align: center;
}
.txt-left{
  text-align: left;
}
.txt-right{
  text-align: right;
}

.underline{
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.02em;
}

em{
  @include font(italic);
}

a.active{
  color: var(--color-link-hover);
}

h4.caption{
  margin-top: 0.5em;
  @include fs(small);
}
/* —————————————————————————————————————————————————————————————
        BUTTONS
———————————————————————————————————————————————————————————————— */

button{
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
}