@use "../_config/config";

body{
  opacity: 0;
}

body.loaded{
  opacity: 1;
  transition: config.$transition-duration-default config.$transition-timing-default config.$transition-delay-default;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity config.$transition-duration-default;
}
