$fontsize: (
  main: (
    sm: (
      fs: 12px,
      lh: 14px,
      ls: "normal",
    ),
    md:(
      fs: 24px,
      lh: 30px,
      ls: "normal",
    ),
    lg: (
      fs: 26px,
      lh: 32px,
      ls: "normal",
    ),
  ),
  small: (
    sm: (
      fs: 12px,
      lh: 14px,
      ls: "normal",
    ),
    md:(
      fs: 14px,
      lh: 18px,
      ls: "normal",
    ),
    lg: (
      fs: 16px,
      lh: 20px,
      ls: "normal",
    ),
  ),
  medium: (
    sm: (
      fs: 12px,
      lh: 14px,
      ls: "normal",
    ),
    md:(
      fs: 19px,
      lh: 25px,
      ls: "normal",
    ),
    lg: (
      fs: 19px,
      lh: 25px,
      ls: "normal",
    ),
  ),
);

$space: 8px;

$margin: (
  sm: 1,
);

$colors: (
  text: black,
  link: black,
  link-hover: #959490,
  bg: white,
);

$fonts: (
  main: (
    name: martina-plantijn-regular,
    fallback: "Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif",
    withFile: true,
  ),
  italic: (
    name: martina-plantijn-italic,
    fallback: "Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif",
    withFile: true,
  ),
);

$breakpoints: (
  xs: 0px,
  sm: 769px,
  md: 1529px,
  lg: 1729px,
);

$transition: (
  property: all,
  duration: 0.3s,
  timing: cubic-bezier(0.7, 0, 0.3, 1),
  delay: 0s,
);

$indents: (
  default: 1.1em,
);
