@use "sass:map";
@use "sass:string";
@use "config";

@mixin mq($mq-breakpoint, $mq-breakpoints: config.$breakpoints) {
  @if map.has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map.get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin transition(
  $property: config.$transition-property-default,
  $duration: config.$transition-duration-default,
  $timing: config.$transition-timing-default,
  $delay: config.$transition-delay-default
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin fs($size: main) {
  font-size: var(--fs-#{$size});
  line-height: var(--lh-#{$size});
  letter-spacing: var(--ls-#{$size});
}

@mixin font($font: main) {
  font-family: map.get(map.get(config.$fonts, $font), name), string.unquote(map.get(map.get(config.$fonts, $font), fallback));
}

@mixin touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin notouch {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}